*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Noto Sans JP", sans-serif;
    line-height: 1.5;
}

section {
    padding: 5em 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.container {
    width: 85%;
    margin: 0 auto;
    max-width: 1040px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;

    & > * {
        flex-basis: 30%;
        min-width: 15em;
    }
}

.spacing > * + * {
    margin-top: var(--spacer, 2rem);
}

.btn {
    display: inline-block;
    text-decoration: none;
    color: var(--clr-text, white);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.1em;
    padding: 0.5em 1.25em;
    background-color: var(--clr-accent, blue);
    border-radius: 0.4em;
    transition: 0.5s;
}

.btn:hover,
.btn:focus {
    transform: scale(1.1);
    opacity: 0.9;
}

.primary-title {
    font-size: 3em;
    font-size: clamp(3rem, calc(5vw + 0.5rem), 4rem);
    line-height: 1.1;
    text-transform: uppercase;
}

.hero {
    --clr-accent: #ddac23;
    text-align: center;
    padding: 15em 0;
    color: white;
    // background: #666;
    @supports (background-blend-mode: multiply) {
        background-image: url(../img/shoe-3.png), radial-gradient(#444, #111);
        background-blend-mode: multiply;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center center;
    }
}

.section-title {
    text-align: center;
    font-size: clamp(1.5rem, calc(5vw + 0.5rem), 3rem);
    color: rgb(30, 26, 83);
    margin-bottom: 5rem;
}

.featured {
    background: #ccc;

    &__item {
        // background-color: turquoise;
        transform: scale(0.85);
        position: relative;
        transition: 0.5s;
        text-decoration: none;
        color: #333;
        text-align: center;
        line-height: 1.3;

        &:hover,
        &:focus {
            transform: scale(1);

            .featured__details {
                opacity: 1;
                text-shadow: 0 0 1em white;
            }
        }
        &::after {
            content: "";
            position: absolute;
            top: 10%;
            left: 10%;
            //make perfect circle
            padding: 80% 80% 0 0;
            border-radius: 50%;
            background-color: rgb(28, 173, 159);
            z-index: -1;
        }
    }

    &__details {
        opacity: 0;
        transition: 0.4s;
        & .price {
            display: block;
            font-weight: 700;
            font-size: 2.2rem;
        }
    }
}

.product {
    background: radial-gradient(var(--clr-inner, limegreen), var(--clr-outer, purple));
    padding: 3em;
    border-radius: 1em;
    margin-bottom: 5em;

    &__title {
        font-size: clamp(2rem, calc(5vw + 0.5rem), 4rem);
        line-height: 1.2;
        color: white;
        text-shadow: 0 0 2em rgba($color: #000000, $alpha: 0.2);
    }

    &__img {
        margin-top: -5em;
    }

    &.shoe-left {
        text-align: right;
        .product__img {
            float: left;
            shape-outside: url(/img/shoe-2.png);
            shape-margin: 2em;
        }
    }

    @media (min-width: 45em) {
        &__img {
            float: right;
            width: 60%;
            // outline: 2px solid red;
            shape-outside: circle(54%);
            shape-margin: 1em;
        }
    }
}

.shoe-orange {
    --clr-inner: rgb(252, 133, 23);
    --clr-outer: rgb(250, 182, 36);
    --clr-accent: rgb(226, 50, 19);
}

.shoe-white {
    --clr-inner: rgb(172, 190, 185);
    --clr-outer: rgb(130, 147, 148);
    --clr-accent: rgb(44, 101, 206);
}
.shoe-blue {
    --clr-inner: rgb(66, 25, 179);
    --clr-outer: rgb(126, 228, 219);
    --clr-accent: rgb(34, 21, 214);
}
